<div class="roulette">
  <div class="roulette-cell">
    <div class="div-inline upper-button">
      <span>Money</span>
      <p>$1000</p>
    </div>
    <div class="div-inline upper-button">
      <span>Money</span>
      <p>$1000</p>
    </div>
    <div class="div-inline upper-button">
      <span>Money</span>
      <p>$1000</p>
    </div>

    <div class="width100">
     <div class="div-inline width6 history">
        <ul class="coin">
          <li style="margin-top:3px;">
            <div id="first" ng-click="showCoin(first);"><img src="img/coin1.png">
            </div>
          </li>
          <li><div id="second" ng-click="showCoin();"><img src="img/coin2.png"></div></li>
          <li><div><img src="img/coin3.png"></div></li>
          <li><div><img src="img/coin4.png"></div></li>
          <li><div><img src="img/coin5.png"></div></li>
          <li><div><img src="img/coin6.png"></div></li>
        </ul>
      </div>
      <div class="div-inline width80">
        <table>
          <tr class="nums">
            <td class="num green zero" rowspan="3" ng-click="userBet('0')"><span>0</span></td>
            <td ng-click="userBet('3')">
              <div class="num red">
                <span>3</span>
              </div>
            </td>
            <td ng-click="userBet('6')">
              <div class="num black"> <span>6</span>
              </div>
            </td>
            <td ng-click="userBet('9')">
              <div class="num red"><span>9</span></div>
            </td>
            <td ng-click="userBet('12')">
              <div class="num red"><span>12</span></div>
            </td>
            <td ng-click="userBet('15')">
              <div class="num black"><span>15</span></div>
            </td>
            <td ng-click="userBet('18')">
              <div class="num red"><span>18</span></div>
            </td>
            <td ng-click="userBet('21')">
              <div class="num red"><span>21</span></div>
            </td>
            <td ng-click="userBet('24')">
              <div class="num black"><span>24</span></div>
            </td>
            <td ng-click="userBet('27')">
              <div class="num red"><span>27</span></div>
            </td>
            <td ng-click="userBet('30')">
              <div class="num red"><span>30</span></div>
            </td>
            <td ng-click="userBet('33')">
              <div class="num black"><span>33</span>
              </div>
            </td>
            <td ng-click="userBet('36')">
              <div class="num red"><span>36</span></div>
            </td>
            <td class="sector" data-sector="1" ng-click="userBet('3rd column')"><span class="vt">2 to 1</span></td>
            <!--<td class="num history" rowspan="5"><span>history</span></td>-->
          </tr>
          <tr class="nums">
            <td class="hidden"></td>
            <td ng-click="userBet('2')">
              <div class="num black"><span>2</span>
              </div>
            </td>
            <td ng-click="userBet('5')">
              <div class="num red"><span>5</span>
              </div>
            </td>
            <td ng-click="userBet('8')">
              <div class="num black"><span>8</span>
              </div>
            </td>
            <td ng-click="userBet('11')">
              <div class="num black"><span>11</span></div>
            </td>
            <td ng-click="userBet('14')">
              <div class="num red"><span>14</span></div>
            </td>
            <td ng-click="userBet('17')">
              <div class="num black"><span>17</span></div>
            </td>
            <td ng-click="userBet('20')">
              <div class="num black"><span>20</span></div>
            </td>
            <td ng-click="userBet('23')">
              <div class="num red"><span>23</span></div>
            </td>
            <td ng-click="userBet('26')">
              <div class="num black"><span>26</span></div>
            </td>
            <td ng-click="userBet('29')">
              <div class="num black"><span>29</span></div>
            </td>
            <td ng-click="userBet('32')">
              <div class="num red"><span>32</span></div>
            </td>
            <td ng-click="userBet('35')">
              <div class="num black"><span>35</span></div>
            </td>
            <td class="sector" data-sector="2" ng-click="userBet('2nd column')"><span class="vt">2 to 1</span></td>
          </tr>
          <tr class="nums">
            <td class="hidden"></td>
            <td ng-click="userBet('1')">
              <div class="num red"><span>1</span>
              </div>
            </td>
            <td ng-click="userBet('4')">
              <div class="num black"><span>4</span>
              </div>
            </td>
            <td ng-click="userBet('7')">
              <div class="num red"><span>7</span>
              </div>
            </td>
            <td ng-click="userBet('10')">
              <div class="num black"><span>10</span></div>
            </td>
            <td ng-click="userBet('13')">
              <div class="num black"><span>13</span></div>
            </td>
            <td ng-click="userBet('16')">
              <div class="num red"><span>16</span></div>
            </td>
            <td ng-click="userBet('19')">
              <div class="num red"><span>19</span></div>
            </td>
            <td ng-click="userBet('22')">
              <div class="num black"><span>22</span></div>
            </td>
            <td ng-click="userBet('25')">
              <div class="num red"><span>25</span></div>
            </td>
            <td ng-click="userBet('28')">
              <div class="num black"><span>28</span></div>
            </td>
            <td ng-click="userBet('31')">
              <div class="num black"><span>31</span></div>
            </td>
            <td ng-click="userBet('34')">
              <div class="num red"><span>34</span></div>
            </td>
            <td class="sector" data-sector="3" ng-click="userBet('1 st column')"><span class="vt">2 to 1</span></td>
          </tr>
          <tr>
            <td class="empty"></td>
            <td colspan="4" class="sector" data-sector="4" ng-click="userBet('First Dozen')">1st 12</td>
            <td colspan="4" class="sector" data-sector="5" ng-click="userBet('Middle Dozen')">2nd 12</td>
            <td colspan="4" class="sector" data-sector="6" ng-click="userBet('Last Dozen')">3rd 12</td>
            <td class="empty"></td>
          </tr>
          <tr>
            <td class="empty"></td>
            <td colspan="2" class="sector" data-sector="7" ng-click="userBet('Low Bet')">1 to 18</td>
            <td colspan="2" class="sector" data-sector="8" ng-click="userBet('Even number')">EVEN</td>
            <td colspan="2" class="sector red" data-sector="9" ng-click="userBet('Red color')">RED</td>
            <td colspan="2" class="sector black" data-sector="10" ng-click="userBet('Black color')">BLACK</td>
            <td colspan="2" class="sector" data-sector="11" ng-click="userBet('Odd numbers')">ODD</td>
            <td colspan="2" class="sector" data-sector="12" ng-click="userBet('High Bet')">19 to 36</td>
            <td class="empty"></td>
          </tr>
          <tr>
            <!--<input type="button" value="spin" id='spin' ng-click="openModal()" /></tr>-->
        </table>
      </div>
      <div class="div-inline width12 history scroll">
        History
        <ul class="history-list">
          <li class="div-inline">
            <div class="num red"><span>12</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>22</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>10</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>5</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>12</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>22</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>10</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>5</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>12</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>22</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>10</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>5</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>12</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>22</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>10</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>5</span></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="div-inline upper-button">
      <span>Money</span>
      <p>$1000</p>
    </div>
    <div class="div-inline upper-button pdbutton">
      <span>Tier</span>
    </div>
    <div class="div-inline upper-button pdbutton">
      <span>Orphelins</span>
    </div>
    <div class="div-inline upper-button pdbutton">
      <span>Neighbors</span>
    </div>
    <div class="div-inline upper-button pdbutton">
      <span>Finals Bet</span>
    </div>
    <div id="btnSpin" class="div-inline upper-button pdbutton" ui-sref="spinner">Spin</div>
  </div>
</div>
