<div class="roulette">
  <div class="roulette-cell">
    <div class="div-inline upper-button">
      <span>Money</span>
      <p>$1000</p>
    </div>
    <div class="div-inline upper-button">
      <span>Money</span>
      <p>$1000</p>
    </div>
    <div class="div-inline upper-button">
      <span>Money</span>
      <p>$1000</p>
    </div>
    <div class="div-inline upper-button">
      <span>Logout</span>
      <button ng-click="logout()"></button>
    </div>

    <div class="width100">
      <div class="div-inline width6 history">
        <ul class="coin">
          <li style="margin-top:3px;">
            <div id="first"><img src="img/coin1.png" ng-click="coinSelect('coin1')">
            </div>
          </li>
          <li>
            <div id="second"><img src="img/coin2.png" ng-click="coinSelect('coin2')"></div>
          </li>
          <li>
            <div><img src="img/coin3.png" ng-click="coinSelect('coin3')"></div>
          </li>
          <li>
            <div><img src="img/coin4.png" ng-click="coinSelect('coin4')"></div>
          </li>
          <li>
            <div><img src="img/coin5.png" ng-click="coinSelect('coin5')"></div>
          </li>
          <li>
            <div><img src="img/coin6.png" ng-click="coinSelect('coin6')"></div>
          </li>
        </ul>
      </div>
      <div class="div-inline width80">
        <table>
          <tr class="nums">
            <td class="num green zero" rowspan="3" ng-click="userBet('0')"><span>0</span></td>
            <td ng-click="userBet('3','three')">
              <div class="num red">
                <span>3</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.three">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin1.three">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.three">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.three">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.three">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin6.coin6 && coin6.three">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('6', 'six')">
              <div class="num black">
                <span>6</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.six">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.six">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.six">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.six">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.six">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin6.coin6 && coin6.six">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('9','nine')">
              <div class="num red"><span>9</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.nine">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.nine">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin2 && coin3.nine">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.nine">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.nine">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin6.coin6 && coin6.nine">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('12','twelve')">
              <div class="num red"><span>12</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twelve">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twelve">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twelve">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twelve">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twelve">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin6.coin6 && coin6.twelve">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('15', 'fifteen')">
              <div class="num black"><span>15</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.fifteen">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.fifteen">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.fifteen">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.fifteen">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.fifteen">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin6.coin6 && coin6.fifteen">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('18', 'eighteen')">
              <div class="num red"><span>18</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.eighteen">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.eighteen">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.eighteen">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.eighteen">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.eighteen">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.eighteen">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('21','twentyOne')">
              <div class="num red"><span>21</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twentyOne">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twentyOne">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twentyOne">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twentyOne">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twentyOne">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.twentyOne">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('24', 'twentyFour')">
              <div class="num black"><span>24</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twentyFour">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twentyFour">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twentyFour">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twentyFour">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twentyFour">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.twentyFour">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('27', 'twentySeven')">
              <div class="num red"><span>27</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twentySeven">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twentySeven">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twentySeven">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twentySeven">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twentySeven">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.twentySeven">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('30','thirty')">
              <div class="num red"><span>30</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.thirty">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.thirty">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.thirty">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.thirty">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.thirty">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.thirty">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('33','thirtyThree')">
              <div class="num black"><span>33</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.thirtyThree">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.thirtyThree">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.thirtyThree">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.thirtyThree">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.thirtyThree">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.thirtyThree">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('36', 'thirtySix')">
              <div class="num red"><span>36</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.thirtySix">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.thirtySix">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.thirtySix">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.thirtySix">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.thirtySix">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.thirtySix">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td class="sector" data-sector="1" ng-click="userBet('3rd column','thirdColumn')"><span class="vt">2 to 1</span>
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.thirdColumn">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.thirdColumn">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.thirdColumn">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.thirdColumn">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.thirdColumn">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.thirdColumn">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
            <!--<td class="num history" rowspan="5"><span>history</span></td>-->
          </tr>
          <tr class="nums">
            <td class="hidden"></td>
            <td ng-click="userBet('2','two')">
              <div class="num black"><span>2</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.two">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.two">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.two">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.two">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.two">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.two">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('5','five')">
              <div class="num red"><span>5</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.five">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.five">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.five">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.five">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.five">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.five">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('8','eight')">
              <div class="num black"><span>8</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.eight">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.eight">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.eight">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.eight">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.eight">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.eight">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('11','eleven')">
              <div class="num black"><span>11</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.eleven">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.eleven">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.eleven">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.eleven">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.eleven">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.eleven">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('14','fourteen')">
              <div class="num red"><span>14</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.fourteen">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.fourteen">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.fourteen">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.fourteen">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.fourteen">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.fourteen">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('17','seventeen')">
              <div class="num black"><span>17</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.seventeen">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.seventeen">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.seventeen">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.seventeen">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.seventeen">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.seventeen">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('20','twenty')">
              <div class="num black"><span>20</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twenty">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twenty">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twenty">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twenty">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twenty">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.twenty">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('23','twentyThree')">
              <div class="num red"><span>23</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twentyThree">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twentyThree">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twentyThree">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twentyThree">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twentyThree">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.twentyThree">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('26','twentySix')">
              <div class="num black"><span>26</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twentySix">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twentySix">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twentySix">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twentySix">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twentySix">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.twentySix">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('29','twentyNine')">
              <div class="num black"><span>29</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twentyNine">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twentyNine">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twentyNine">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twentyNine">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twentyNine">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.twentyNine">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('32','thirtyTwo')">
              <div class="num red"><span>32</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.thirtyTwo">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.thirtyTwo">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.thirtyTwo">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.thirtyTwo">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.thirtyTwo">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.thirtyTwo">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('35','thirtyFive')">
              <div class="num black"><span>35</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.thirtyFive">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.thirtyFive">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.thirtyFive">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.thirtyFive">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.thirtyFive">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.thirtyFive">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td class="sector" data-sector="2" ng-click="userBet('2nd column','secondColumn')"><span class="vt">2 to 1</span>
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.secondColumn">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.secondColumn">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.secondColumn">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.secondColumn">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.secondColumn">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.secondColumn">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
          </tr>
          <tr class="nums">
            <td class="hidden"></td>
            <td ng-click="userBet('1','one')">
              <div class="num red"><span>1</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.one">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.one">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.one">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.one">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.one">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.one">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('4','four')">
              <div class="num black"><span>4</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.four">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.four">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.four">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.four">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.four">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.four">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('7','seven')">
              <div class="num red"><span>7</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.seven">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.seven">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.seven">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.seven">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.seven">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.seven">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('10','ten')">
              <div class="num black"><span>10</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.ten">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.ten">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.ten">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.ten">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.ten">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.ten">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('13','thirteen')">
              <div class="num black"><span>13</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.thirteen">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.thirteen">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.thirteen">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.thirteen">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.thirteen">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.thirteen">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('16','sixteen')">
              <div class="num red"><span>16</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.sixteen">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.sixteen">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.sixteen">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.sixteen">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.sixteen">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.sixteen">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('19','nineteen')">
              <div class="num red"><span>19</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.nineteen">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.nineteen">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.nineteen">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.nineteen">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.nineteen">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.nineteen">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('22','twentyTwo')">
              <div class="num black"><span>22</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twentyTwo">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twentyTwo">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twentyTwo">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twentyTwo">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twentyTwo">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.twentyTwo">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('25','twentyFive')">
              <div class="num red"><span>25</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twentyFive">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twentyFive">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twentyFive">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twentyFive">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twentyFive">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.twentyFive">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('28',twentyEight)">
              <div class="num black"><span>28</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.twentyEight">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.twentyEight">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.twentyEight">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.twentyEight">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.twentyEight">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.twentyEight">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('31','thirtyOne')">
              <div class="num black"><span>31</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.thirtyOne">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.thirtyOne">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.thirtyOne">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.thirtyOne">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.thirtyOne">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.thirtyOne">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td ng-click="userBet('34', 'thirtyFour')">
              <div class="num red"><span>34</span>
                <div class="absolute-coin">
                  <div ng-if="coin1.coin1 && coin1.thirtyFour">
                    <img src="img/coin1.png">
                  </div>
                  <div ng-if="coin2.coin2 && coin2.thirtyFour">
                    <img src="img/coin2.png">
                  </div>
                  <div ng-if="coin3.coin3 && coin3.thirtyFour">
                    <img src="img/coin3.png">
                  </div>
                  <div ng-if="coin4.coin4 && coin4.thirtyFour">
                    <img src="img/coin4.png">
                  </div>
                  <div ng-if="coin5.coin5 && coin5.thirtyFour">
                    <img src="img/coin5.png">
                  </div>
                  <div ng-if="coin3.coin6 && coin6.thirtyFour">
                    <img src="img/coin6.png">
                  </div>
                </div>
              </div>
            </td>
            <td class="sector" data-sector="3" ng-click="userBet('1 st column', 'firstColumn')"><span class="vt">2 to 1</span>
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.firstColumn">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.firstColumn">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.firstColumn">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.firstColumn">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.firstColumn">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.firstColumn">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="empty"></td>
            <td colspan="4" class="sector" data-sector="4" ng-click="userBet('First Dozen', 'firstDozen')">1st 12
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.firstDozen">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.firstDozen">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.firstDozen">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.firstDozen">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.firstDozen">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.firstDozen">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
            <td colspan="4" class="sector" data-sector="5" ng-click="userBet('Middle Dozen','middleDozen')">2nd 12
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.middleDozen">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.middleDozen">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.middleDozen">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.middleDozen">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.middleDozen">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.middleDozen">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
            <td colspan="4" class="sector" data-sector="6" ng-click="userBet('Last Dozen','lastDozen')">3rd 12
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.lastDozen">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.lastDozen">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.lastDozen">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.lastDozen">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.lastDozen">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.lastDozen">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
            <td class="empty"></td>
          </tr>
          <tr>
            <td class="empty"></td>
            <td colspan="2" class="sector" data-sector="7" ng-click="userBet('Low Bet','lowBet')">1 to 18
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.lowBet">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.lowBet">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.lowBet">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.lowBet">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.lowBet">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.lowBet">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
            <td colspan="2" class="sector" data-sector="8" ng-click="userBet('Even number','evenNumber')">EVEN
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.evenNumber">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.evenNumber">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.evenNumber">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.evenNumber">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.evenNumber">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.evenNumber">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
            <td colspan="2" class="sector red" data-sector="9" ng-click="userBet('Red color','redColor')">RED
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.redColor">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.redColor">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.redColor">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.redColor">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.redColor">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.redColor">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
            <td colspan="2" class="sector black" data-sector="10" ng-click="userBet('Black color','blackColor')">BLACK
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.blackColor">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.blackColor">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.blackColor">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.blackColor">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.blackColor">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.blackColor">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
            <td colspan="2" class="sector" data-sector="11" ng-click="userBet('Odd numbers','oddNumber')">ODD
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.oddNumber">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.oddNumber">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.oddNumber">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.oddNumber">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.oddNumber">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.oddNumber">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
            <td colspan="2" class="sector" data-sector="12" ng-click="userBet('High Bet', 'highBet')">19 to 36
              <div class="absolute-coin">
                <div ng-if="coin1.coin1 && coin1.highBet">
                  <img src="img/coin1.png">
                </div>
                <div ng-if="coin2.coin2 && coin2.highBet">
                  <img src="img/coin2.png">
                </div>
                <div ng-if="coin3.coin3 && coin3.highBet">
                  <img src="img/coin3.png">
                </div>
                <div ng-if="coin4.coin4 && coin4.highBet">
                  <img src="img/coin4.png">
                </div>
                <div ng-if="coin5.coin5 && coin5.highBet">
                  <img src="img/coin5.png">
                </div>
                <div ng-if="coin3.coin6 && coin6.highBet">
                  <img src="img/coin6.png">
                </div>
              </div>
            </td>
            <td class="empty"></td>
          </tr>
          <tr>
            <!--<input type="button" value="spin" id='spin' ng-click="openModal()" /></tr>-->
        </table>
      </div>
      <div class="div-inline width12 history scroll">
        History
        <ul class="history-list">
          <li class="div-inline">
            <div class="num red"><span>12</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>22</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>10</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>5</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>12</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>22</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>10</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>5</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>12</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>22</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>10</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>5</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>12</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>22</span></div>
          </li>
          <li class="div-inline">
            <div class="num green"><span>10</span></div>
          </li>
          <li class="div-inline">
            <div class="num red"><span>5</span></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="absolute-button">
      <div class="div-inline upper-button">
        <span>Money</span>
        <p>$1000</p>
      </div>
      <div class="div-inline upper-button pdbutton">
        <span>Tier</span>
      </div>
      <div class="div-inline upper-button pdbutton">
        <span>Orphelins</span>
      </div>
      <div class="div-inline upper-button pdbutton">
        <span>Neighbors</span>
      </div>
      <div class="div-inline upper-button pdbutton">
        <span>Finals Bet</span>
      </div>
      <div id="btnSpin" class="div-inline upper-button pdbutton">Spin</div>
    </div>
  </div>
</div>
