<div class="login">
  <div class="login_block">
    <!--<img src="img/login/logo.png" class="login_logo">-->
    <form name="login">
      <div class="list input-login bg-transparent">
        <label class="item item-input login_button">
          <img src="img/login/icon_king.png" class="icon placeholder-icon">
          <input type="text" name="username" ng-model="data.username" placeholder="USER NAME" required>
        </label>
        <span class="valid" ng-show="login.username.$touched && login.username.$invalid">* Username is required.</span>
      </div>
      <div class="list input-login bg-transparent">
        <label class="item item-input login_button">
          <img src="img/login/icon_lock.png" class="icon placeholder-icon">
          <input type="password" name="password" ng-model="data.password" placeholder="PASSWORD" required>
        </label>
        <span class="valid" ng-show="login.password.$touched && login.password.$invalid">* Password is required.</span>
      </div>
      <div class="valid invailduser" ng-if="invalidUser">incorrect username or password</div>
      <div class="login_button_submit row">
        <button class="button" type='submit' ng-disabled="login.$invalid" ng-click="playerLogin(data,login)" promise-btn="loginPromise">LOGIN</button>
      </div>
    </form>
  </div>
</div>
