<div class="spinner_main">
    <div class="control">
    <span class="message">
                Number Stop: <input id="numwin" type="text" value="24"> 
                </span>
    <div>
      <div id="btnSpin" class="button">Spin</div>
      <div id="btnb" class="button">Bigger</div>
      <div id="btns" class="button">Smaller</div>
    </div>
  </div> 
  <div class="spinner_bg">
  <div class="spinner">
    <div class="ball"><span></span></div>
    <div class="platebg"></div>
    <div class="platetop"></div>
    <div id="toppart" class="topnodebox">
      <div class="silvernode"></div>
      <div class="topnode silverbg"></div>
      <span class="top silverbg"></span>
      <span class="right silverbg"></span>
      <span class="down silverbg"></span>
      <span class="left silverbg"></span>
    </div>
    <div id="rcircle" class="pieContainer">
      <div class="pieBackground"></div>
    </div>
  </div>
</div>
 

</div>
